<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function(){
        $("button").click(function(){
            $.get("/controller/" + $(this).attr('id'), function(data, status){ });
        });
    });
    </script>
    <meta charset="UTF-8">
    <title>아두이노 조명제어</title>
</head>
<body>
    <div class="container">
        <h2>조명 제어</h2>
        <button type="button" class="btn btn-success" id='A'>모두 켜기</button>
        <button type="button" class="btn btn-warning" id='1'>현관조명</button>
        <button type="button" class="btn btn-primary" id='2'>거실중앙조명</button>
        <button type="button" class="btn btn-success" id='3'>부억조명</button>
        <button type="button" class="btn btn-default" id='B'>모두 끄기</button>
        </div>
</body>
</html>
